<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/993/993552.svg" alt="">
      </div>
      <div class="row">
          <buttom on-click="incrementar" class="btn btn-success" type="buttom" name="button">Cargar Datos</buttom>
          <input type="text" name="" placeholder="[[prop3]]" value="{{prop1::input}}" >
          <input type="text" name="" value="[[prop3]]" >
      </div>
      <div class="row">
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Elena</td>
                <td>Nito</td>
              </tr>
              <tr>
                <td>[[prop2]]</td>
                <td>Elena</td>
                <td>Nito</td>
              </tr>
              <tr>
                <td>[[prop2]]</td>
                <td>Elena</td>
                <td>Nito</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
          },
          prop2: {
            type: Number,
            value: 999
          }
          prop3: {
            type: String,
            value: "Hola"
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
